Source: libjs-bootstrap-switch
Build-Depends: debhelper (>= 7.0.50~), yui-compressor
Standards-Version: 3.8.4
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/Vitexus/libjs-bootstrap-switch

Package: libjs-bootstrap-switch
Architecture: all
Depends: ${misc:Depends},libjs-bootstrap (>= 3.0)
Suggests: libjs-fuelux
Section: web
Description: Turn checkboxes and radio buttons in toggle switches.
 Addition JS/CSS widget using Twitter Bootstrap css/js framework

