Source: libjs-bootstrap-switch
Build-Depends: debhelper (>= 7.0.50~), yui-compressor
Standards-Version: 3.8.4
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: http://www.bootstrap-switch.org/

Package: libjs-bootstrap-switch
Architecture: all
Depends: ${misc:Depends},libjs-bootstrap
Suggests: libjs-fuelux
Section: web
Description: Turn checkboxes and radio buttons in toggle switches.
 Addition JS/CSS widget using Twitter Bootstrap3 css/js framework

Package: libjs-bootstrap4-switch
Architecture: all
Depends: ${misc:Depends},libjs-bootstrap4
Section: web
Description: Turn checkboxes and radio buttons in toggle switches.
 Addition JS/CSS widget using Twitter Bootstrap4 css/js framework

